<div class="cell">

  <fieldset class="fieldset"><legend class="alert">Change your password</legend>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
  

    <div class="input-group">
      <%= f.label nil do %><%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <p class="help-text" id="passwordHelpText">Your password must have at least <%= @minimum_password_length %> characters minimum.</p>
      <% end %>
      <% end %>
    </div>
  
    <div class="input-group">
      <%= f.label nil do %><%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% end %>
    </div>
  
    <div class="input-group">
      <%= f.submit "Change my password", :class => "button" %>
    </div>
    <%= render "devise/shared/links" %>
  </fieldset>
  <% end %>
</div>

