
<div class="cell">
    <fieldset class="fieldset"><legend>Forgot your password?</legend>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <textfield>
    <div class="input-group">
      <%= f.label nil do %><%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% end %>
    </div>
  
    <div class="input-group">
      <%= f.submit "Send me reset password instructions", :class => "button" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
    </fieldset>
</div>

